<?php
return array(
    'zf-hipsters' => array(
        'authorize' => array(
            'user_table' => 'users',
            'permissions' => array(
                'allowRegister' => true,
                'requireActivation' => true,
                'allowProfileUpdate' => true,
                'allowForgotPassword' => true,
                'allowRememberMe' => true,
                'enableAcl' => false,
                'redirectOn403' => true,
            ),
            'redirects' => array(
                'login_success' => 'home',
                'logout' => 'authorize/login'
            ),
            'salt' => 'scDsejlSMYqqpXltYIvKtVHFMhASJutxecLmpolI',
        ),
    ),
);
